@charset "utf-8";
/* CSS Document */

.cajaleft
{
	background:url(../images/cajaright.png) center center no-repeat;
	width:275px;
	height:408px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	text-align:left;
}
.cajaright
{
	background:url(../images/cajaright.png) center center no-repeat;
	width:275px;
	height:408px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	text-align:center;
}
.cajacenter
{
	background:url(../images/cajacenter.png) center center no-repeat;
	width:550px;
	height:382px;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;
	text-align:justify;
}