@charset "utf-8";
/* CSS Document */

.pagina2{
		
	width:960px;
	height:380px;	
	overflow:auto;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px;}
.bloque{
	background:url(../images/cajacenter-empleo.png) center center no-repeat;
	width:880px;
	height:150px;
		
  }
.text{
	text-align:left;
	padding-left:30px;}

img{
	
	float:left;
	}
.nombre{
	float:left;
	clear:both;}
.opinion{
	float:none;
	margin:20px;		
	text-align:justify;
	padding-left:130px;
	}
.space{
	float:left;
	}
